$sidebar-collapsed: 5rem;
$sidebar-expanded: 16.5625rem;
$transition-speed: 0.5s;
$bg-color: #f4f7fa;
$padding: 3rem;

.body {
  width: calc(100% - #{$sidebar-collapsed});
  margin-left: $sidebar-collapsed;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all $transition-speed ease;
  background: $bg-color;
  padding: $padding;

  &-trimmed {
    width: calc(100% - #{$sidebar-expanded});
    margin-left: $sidebar-expanded;
  }

  &-md-screen {
    width: calc(100% - #{$sidebar-collapsed});
    margin-left: $sidebar-collapsed;
  }
}
