.filters-container {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.photo-card {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.photo-preview {
  display: flex;
  gap: 5px;
  overflow: hidden;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
}
